/**
 * Title Area
 * ----------------------------------------------------------------------------
 */
#cahnrs-global-header {
	background: none;
	height: auto;
	margin-bottom: 25px;
	width: auto;
	margin-left: 198px;
}
#cahnrs-global-header .header-group {
	padding-bottom: 0;
	height: 91px;
	position: relative;
}
#cahnrs-global-header sub {
	font-size: 1em;
	letter-spacing: 0.25em;
	text-transform: uppercase;
}
#cahnrs-global-header sub span {
	color: #5e6a71;
	line-height: 91px;
}

/**
 * Horizontal Navigation Menu
 * ----------------------------------------------------------------------------
 */
#cahnrs-global-nav {
	min-height: 10px;
	position: relative;
}
#cahnrs-global-nav::before {
	content: " ";
	width: 1000%;
	background: #fff;
	left: -1000%; 
	position: absolute;
	height: 100%;
}
#cahnrs-global-nav .nav-wrapper {
	background: #fff;
	margin-bottom: 0; 
	padding: 0 1em 0 2em;
	position: relative;
}
#cahnrs-global-nav .nav-wrapper::after {
	background: #fff;
	content: " ";
	height: 100%;
	right: -1000%;
	position: absolute;
	top: 0;
	width: 1000%;
}
#cahnrs-global-nav .nav-wrapper > li {
	display: inline-block;
	margin: 0;
	padding: 0;
}
#cahnrs-global-nav .nav-wrapper > li > a {
	color: #5e6a71;
	display: block;
	padding: 6px 25px;
}
#cahnrs-global-nav .nav-wrapper > li.selected > a {
	color: #fff;
	background: #981e32;
}
#cahnrs-global-nav .nav-wrapper > li:hover > a,
#cahnrs-global-nav .nav-wrapper > li.active > a {
	color: #fff;
	background: #5e6a71;
}

/**
 * Horizontal Navigation Menu - Drop Down
 * ----------------------------------------------------------------------------
 */
#cahnrs-global-nav .nav-sub-section {
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	width: 100%;
	text-align: right;
	background: #5e6a71;
	z-index: 100;
}
#cahnrs-global-nav .section-links {
	background: #5e6a71;
	width: 75%;
	padding: 1.5em 0;
	text-align: left;
}
#cahnrs-global-nav .link-list {
	display: inline-block;
	width: 31.33%;
	margin: 0 1%;
	padding-bottom: 0;
	vertical-align: top;
}
#cahnrs-global-nav .link-list a {
	color: #fff;
}
#cahnrs-global-nav .link-list a:hover {
	color: #000;
}
#cahnrs-global-nav .section-title {
	padding-bottom: 6px;
}
#cahnrs-global-nav .section-title a {
	font-weight: bold;
}
#cahnrs-global-nav .section-item {
	margin-left: 35px;
	padding-bottom: 6px;
}
#cahnrs-global-nav .section-item a {
	font-size: 0.9em;
}
#cahnrs-global-nav .news-promo {
	height:100%;
	overflow: hidden;
	position:absolute;
	right:0;
	top:0;
	width: 25%;
}
#cahnrs-global-nav .news-tag {
	background-color: rgba( 255, 255, 255, 0.9 );
	color: #981e32;
	font-size: 0.9em;
	left: 0;
	padding: 0.4em 1em;
	position: absolute;
	top: 1em;
}
#cahnrs-global-nav .news-title {
	background-color: rgba( 152, 30, 50, 0.9 );
	bottom: 0;
	display:block;
	font-weight: bold;
	padding: 0.4em 5%;
	position: absolute;
	text-align:left;
	width:90%;
}
#cahnrs-global-nav .news-title a {
	color: #fff;
}
#cahnrs-global-nav .news-promo img {
	position: absolute;
	left: 50%;
	top: 50%;
	width: auto;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform:     translate(-50%, -50%);
	transform:         translate(-50%, -50%);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand')"; /* IE8 - haven't tested */ 
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand'); /* IE6 and 7 - haven't tested */ 
}
#cahnrs-global-nav .news-promo a {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: block;
	-webkit-box-shadow: inset 0 0 5px rgba( 0, 0, 0, 0.5 );
	-moz-box-shadow:    inset 0 0 5px rgba( 0, 0, 0, 0.5 );
	box-shadow:         inset 0 0 5px rgba( 0, 0, 0, 0.5 );
}

/* Move this if it works, or if not handled in another way */
.cahnrs-page-slide .article-header {
	display: none;
}

/**
 * Media Queries
 * ----------------------------------------------------------------------------
 */
 
/* Making this a little more exclusive - PC */
@media screen and (min-width: 791px) and (max-width: 989px) {

	#binder.fluid #spine header {
		background: none;
	}

}

/* Medium (after first break) - Tablets (iPad) then iPads (portrait, not landscape) */
@media screen and (max-width: 989px), only screen and (max-device-width: 1024px) and (orientation: portrait) {

	/* hybrid and fixed grid */
	#binder:not(.fluid) #cahnrs-global-header {
		margin-left: 0;
		padding-top: 50px;
	}
	#cahnrs-global-header .header-group {
		height: auto;
		max-width: 100%;
	}
	#binder:not(.fluid) #cahnrs-global-header sub span {
		line-height: 30px;
	}
	#cahnrs-global-header sub {
		letter-spacing: 0.2em;
	}
	#cahnrs-global-nav .nav-wrapper {
		max-height: 38px;
	}
	#cahnrs-global-nav .nav-wrapper > li > a {
		overflow: hidden;
		white-space: nowrap;
	}

	/* fluid grid */
	.fluid #cahnrs-global-header sub {
		letter-spacing: normal;
	}
	.fluid #cahnrs-global-nav::before,
	.fluid #cahnrs-global-nav .nav-wrapper::after {
		content: normal;
		width: 0;
		right: 0;
	}
	.fluid #cahnrs-global-nav .nav-wrapper > li {
		text-align: center;
		width: auto;
	}
	.fluid #cahnrs-global-nav .nav-wrapper > li > a {
		font-size: 0.9em;
		padding: 6px 11px;
	}

}

/* Small (max 791px) */
@media screen and (max-width: 791px) and (min-device-width: 990px), screen and (max-width: 791px) and (orientation: portrait) and (max-device-width: 420px), screen and (max-width: 791px) and (orientation: landscape) and (max-device-width: 480px) {

	#cahnrs-global-header .header-group,
	#cahnrs-global-nav .nav-wrapper {
		padding-left: 1em;
	}

}

/* Medium and Desktop - Small */
@media only screen and (min-width: 694px) and (max-width: 791px) {

	/* Need to figure out how to not do this for the IOS fix MQ
	.fluid #wsu-signature {
		background-image: url(../marks/wsu-cahnrs-signature-horizontal.svg)
	}
	*/

	#binder.fixed #spine header {
		background: none;
	}

	#cahnrs-global-header {
		margin-left: 0;
		padding-top: 50px;
	}
	#cahnrs-global-header .header-group {
		height: auto;
		max-width: 100%;
	}
	#cahnrs-global-header sub span {
		line-height: 30px;
	}
	#cahnrs-global-header sub {
		font-size: 0.8em;
		letter-spacing: 0.1em;
	}
	#cahnrs-global-nav .nav-wrapper {
		max-height: 38px;
	}
	#cahnrs-global-nav::before,
	#cahnrs-global-nav .nav-wrapper::after {
		content: normal;
		width: 0;
		right: 0;
	}
	#cahnrs-global-nav .nav-wrapper > li > a {
		font-size: 0.8em;
		overflow: hidden;
		white-space: nowrap;
	}
	
	.fluid #cahnrs-global-header {
		display: none;
	}

}

/* Small (max 693) */
@media only screen and (max-width: 693px) {

	#binder.fluid main {
		margin-top: 1em;
	}
	.fluid #wsu-signature {
		background-image: url(../marks/wsu-cahnrs-signature-horizontal.svg)
	}
	
	#cahnrs-global-header {
		display: none;
	}
	#cahnrs-global-nav {
		display: none;
	}

}

/* IOS fix for unshelved spine */
@media only screen and (max-device-width: 480px) and (orientation: portrait), only screen and (max-device-width: 480px) and (orientation: landscape), only screen and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait), only screen and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {

	.fluid #cahnrs-global-header {
		display: block;
		margin-left: 198px;
		margin-bottom: 20px;
		padding-top: 25px;
	}
	.fluid #cahnrs-global-header sub {
		letter-spacing: 0.1em;
	}
	.fluid #cahnrs-global-header sub span {
		line-height: 60px;
	}
	.fluid #cahnrs-global-nav {
		display: none;
	}

}

/* ## XLARGE */
@media only screen and (min-width: 990px) {

	#cahnrs-global-nav {
		margin-left: -198px
	}
	#cahnrs-global-nav .nav-wrapper {
		margin-left:  198px;
	}

}